.settings__setting {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 20px;
  display: flex;
  align-items: center; /* icon이랑 span(Notices, Kokoa Lab, Version) 중앙정렬 */
  justify-content: space-between; /* version이랑 Latest Version 간격 */
}

.settings__setting i {
  opacity: 0.8;
  margin-right: 20px;
  font-size: 22px;
}

.settings__setting-column:last-child {
  opacity: 0.5;
}
