.alt-header {
  padding: var(--horizontal-space);
  padding-top: 50px; /* sttus-bar의 position을 fixed로 해놨을 경우 padding-top 더 넣어 주어야함 */
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alt-header__column {
  width: 33%; /* position: absolute를 이용해서 정중앙에 오게 하는 것은 css에서 좀 이상하게 보여서 모든 열이 같은 너비를 갖게 하기, 너비 33%씩 갖게 */
}

.alt-header__title {
  font-size: 28px;
  font-weight: 600;
}

.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:last-child {
  margin-left: auto;
  /* justify-content: space-between 안쓰고 margin: auto 쓰는 이유 → 
  space-between이 글자 수에 따라서 배열이 중앙 정열이 안됨, auto를 쓰면 글자 수와 무관하게 중앙 정열이 됨 */
  display: flex;
  justify-content: flex-end; /* search icon, bars icon 오른쪽에 */
}

.alt-header__column:nth-child(2) {
  text-align: center; /* Puppy하트 글자 가운데로 오게 */
}

.alt-header__column span:last-child {
  margin-left: 20px;
  /* 채팅창 오른쪽 icon(돋보기) 간격 */
}
